@CHARSET "ISO-8859-1";

body			{margin:40px auto;background-color:#EEE;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:010px}
p				{max-width:600px}
h1,h2,h3		{line-height:1.2; max-width:800px}
table, td		{border: 1px solid black; border-collapse: collapse; max-width: 650px}
th, td			{padding: 15px; text-align: center}